@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,300i,100,100i');

.header-text {
  font-family: Campton Light;
  font-weight: normal;
  font-style: normal;
  font-size: 5vw;
  padding-bottom: 15px;
}

.sub-header-text {
  font-family: Campton Light;
  font-size: 1.5rem;
  text-align: left;
}
