@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.header-text {
  font-family: Campton Light;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
}

.sub-header-text {
  font-family: Campton Light;
  font-size: 1.5rem;
}
