/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,300i");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header-text {
  font-family: Campton Light;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem; }

.sub-header-text {
  font-family: Campton Light;
  font-size: 1.5rem;
  text-align: left; }

.spin {
  -webkit-animation: spin 2s linear 2;
  -moz-animation: spin 2s linear 2;
  animation: spin 2s linear 2; }

.c-loader {
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: fixed; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.homepage {
  position: relative; }
  .homepage .full-screen {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column; }
    .homepage .full-screen .intro-text {
      min-height: 50vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      align-items: center; }
      .homepage .full-screen .intro-text h2 {
        text-align: center;
        font-size: 1.25rem;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        padding: 10%;
        line-height: 1.5rem; }
      .homepage .full-screen .intro-text i {
        color: white;
        font-size: 2rem; }
  .homepage .contact {
    min-height: 85vh;
    min-width: 100vw;
    background-color: black;
    color: white; }
    .homepage .contact .section-header {
      padding: 5vw; }
    .homepage .contact .contact-form {
      min-height: 450px; }
      .homepage .contact .contact-form form {
        min-height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .homepage .contact .contact-form form input {
          width: 70vw;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          color: white;
          background-color: transparent;
          font-size: 18px;
          border: 4px solid white;
          padding: 5px;
          min-height: 30px;
          align-self: center; }
        .homepage .contact .contact-form form input::placeholder {
          color: white;
          font-size: 18px; }
        .homepage .contact .contact-form form textarea::placeholder {
          color: white;
          font-size: 18px; }
        .homepage .contact .contact-form form textarea {
          width: 70vw;
          align-self: center;
          padding: 5px;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: white;
          border: 4px solid white;
          background-color: transparent;
          min-height: 150px; }
      .homepage .contact .contact-form .submit {
        padding: 15px 50px;
        border: 4px solid white;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        align-self: center;
        box-sizing: content-box; }

.header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .header .navbar {
    max-height: 100px;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative; }
    .header .navbar .navlinks i {
      color: white;
      font-size: 2.5em;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 25px;
      margin-right: 25px;
      z-index: 50; }
    .header .navbar .navlinks .dropdown {
      min-width: 100vw;
      min-height: 100vh;
      background-color: black;
      z-index: 1000;
      top: 0;
      left: 0;
      position: absolute; }
      .header .navbar .navlinks .dropdown ul {
        font-family: Campton Light;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 50% auto;
        height: 100%;
        width: 100%; }
        .header .navbar .navlinks .dropdown ul li {
          font-size: 1.5rem;
          padding: 10px 0 10px;
          text-align: center; }
    .header .navbar .logo img {
      max-height: 75px;
      padding: 15px;
      margin-top: 10px; }
  .header h1 {
    color: white;
    text-align: center;
    font-size: 2.2rem; }
  .header .header-list {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .header .header-list h2 {
      color: white;
      font-size: 1.5rem;
      padding: 5px 5px;
      font-style: italic; }

.projects {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 5vw; }
  .projects h2 {
    padding-bottom: 15px; }
  .projects .project {
    min-width: 80vw;
    min-height: 100vh;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px; }
    .projects .project .project-header h3 {
      font-size: 1.25rem;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 400; }
    .projects .project .project-header h4 {
      font-size: 1rem;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      font-style: italic;
      font-weight: 300;
      line-height: 1.5rem; }
    .projects .project .screen img {
      width: 100%;
      height: auto; }
    .projects .project .text-box {
      text-align: center;
      font-size: 1rem;
      font-weight: 300;
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 1.3rem; }
  .projects .project-footer {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px 40px; }
    .projects .project-footer .button {
      min-width: 80px;
      border: 3px solid black;
      color: black;
      text-align: center;
      padding: 10px; }

/*# sourceMappingURL=style.css.map */
