.homepage {
  position: relative;
  .full-screen {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    .intro-text {
      min-height: 45vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      h2 {
        text-align: right;
        font-size: 5.5vw;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        padding: 15%;
        line-height: 6vh;
        box-sizing: content-box;
      }
      i {
        color: white;
        font-size: 2rem;
        padding: 10px;
      }
    }
  }
  .contact {
    min-width: 100vw;
    background-color: black;
    color: white;
    .section-header {
        padding: 5vw;
    }
    .contact-form {
      min-height: 80vh;
      padding-bottom: 5vw;
      background-color: black;
      form {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        outline: none;
        input {
          width: 70vw;
          font-family: 'Roboto', sans-serif;
          font-weight: 100;
          color: white;
          background-color: rgba(0,0,0,0);
          font-size: 18px;
          border: 3px solid white;
          padding: 5px;
          min-height: 30px;
          align-self: center;
          outline: none;
        }
        input::placeholder {
          color: white;
          font-size: 18px;
          font-weight: 100;
        }
        textarea::placeholder {
          color: white;
          font-size: 18px;
          font-weight: 100;
        }
        textarea {
          width: 70vw;
          align-self: center;
          padding: 5px;
          font-family: 'Roboto', sans-serif;
          font-weight: 100;
          font-size: 18px;
          color: white;
          border: 3px solid white;
          background-color: rgba(0,0,0,0);
          min-height: 150px;
          outline: none;
        }
      }
      .submit {
        padding: 12px 50px;
        border: 4px solid white;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        align-self: center;
        box-sizing: content-box;
        font-weight: 100;
      }
    }

  }
  .page-footer {
    background-color: black;
    max-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border: none;
    .fa {
	     font-size: 2.5rem;
	     padding: 10px;
	     transition: font-size 1s ease;
	     -webkit-transition: font-size 1s ease;
     }

     .fa:hover {
       font-size: 2.7rem;

      }
      a {
        font-size: 1rem;
        padding: 5px;
	      text-decoration: none;
	      color: white;
      }

    }
}

.coming-soon {
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
}

.blog-snippit {
  min-height: 50vh;
  padding: 5vw;
  background-color: white;
  color: black;
  box-sizing: border-box;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
